body{
position: relative;
width: 1720px;
height: 880px;

/* background: linear-gradient(87.86deg, #FEC38E 26.56%, #9A2F00 146.12%); */ 
/* better and static background :P */
background: #1e5799;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.56%,#FEC38E), color-stop(100%,#9A2F00));
  background: -webkit-linear-gradient(top,  #FEC38E 26.56%, #9A2F00 100%);
  background:    -moz-linear-gradient(top,  #FEC38E 26.56%, #9A2F00 100%);
  background:     -ms-linear-gradient(top,  #FEC38E 26.56%, #9A2F00 100%);
  background:      -o-linear-gradient(top,  #FEC38E 26.56%, #9A2F00 100%);
  background:         linear-gradient(to bottom, #1e5799 0%, #9A2F00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEC38E', endColorstr='#9A2F00',GradientType=0 );
  background-attachment: fixed;
}

#canvas {
    display: block;
    width: 100%;
    height: 100%;
    left: 1791px;
    margin: 0 auto;
  }

.hello{
    position: absolute;
    width: 850px;
    height: 83px;
    left: 99px;
    top: 216px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 82px;
    color:rgba(255, 255, 255, 1);
}
.hello1{
    position: absolute;
    width: 90px;
    height: 83px;
    left: 98px;
    top: 280px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 82px;
    /* identical to box height */

    color: #FFFFFF;
}
.hello2{
    position: absolute;
    width: 400px;
    height: 21px;
    left: 100px;
    top: 380px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
/* identical to box height */

    color: #FFFFFF;
}

.offers{
    position: absolute;
    width: 135px;
    height: 27px;
    left: 125px;
    top: 530px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
/* identical to box height */


color: rgba(254, 195, 142, 1);

}

.rectangles{
    position: absolute;
    width: 178px;
    height: 48px;
    left: 100px;
    top: 540px;

    background: #FFFFFF;
    border-radius: 5px;
}

.mainpic{
    position: absolute;
    /* width: 831px;
    height: 931px;
    left: 1006px;*/
    top: 200px;
    margin: auto 900px;
    float: right;
    width: 150px;
    height: 38px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(255, 0, 0, 0);
}

.site{
    position: absolute;
    width: 43px;
    height: 21px;
    left: 121px;
    top: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.navHome{
    position: absolute;
    width: 43px;
    height: 21px;
    left: 1180px;
    top: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.navProduct{
    position: absolute;
    width: 43px;
    height: 21px;
    left: 1280px;
    top: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}

.navBranch{
    position: absolute;
    width: 43px;
    height: 21px;
    left: 1400px;
    top: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
/* identical to box height */


color: #FFFFFF;
}
.navOrder{
    position: absolute;
    width: 180px;
    height: 21px;
    left: 1591px;
    top: 59px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
/* identical to box height */

    text-decoration-line: underline;

    color: #FFFFFF;
}

.specific{
    text-decoration-line: underline;
}
.logo{
    position: absolute;
    width: 150px;
    height: 131px;
    left: 15px;
    top: 1px;
}
/* ================================================================PAGE PRODUCTS================================================================ */
.litebeer{
    position: absolute;
    width: 196px;
    height: 384px;
    left: 341px;
    top: 226px;
}

.bitterbeer{
    position: absolute;
    width: 183px;
    height: 403px;
    left: 785px;
    top: 266px;
}

.darkbeer{
    position: absolute;
    width: 192px;
    height: 452px;
    left: 1216px;
    top: 266px;
}

.rectangleLite{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 330px;
    top: 660px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

.buttonLite{
    position: absolute;
    width: 200px;
    height: 27px;
    left: 345px;
    top: 650px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FEC38E;
}

.rectangleBitter{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 785px;
    top: 660px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

.buttonBitter{
    position: absolute;
    width: 191px;
    height: 27px;
    left: 791px;
    top: 650px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FEC38E;
}

.rectangleDark{
    position: absolute;
    width: 200px;
    height: 48px;
    left: 1219px;
    top: 660px;
    
    background: #FFFFFF;
    border-radius: 5px;
}

.buttonDark{
    position: absolute;
    width: 191px;
    height: 27px;
    left: 1228px;
    top: 650px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #FEC38E;
}

/* ================================================================BRANCHES================================================================ */

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

.helloBranches {
    position: absolute;
    width: 850px;
    height: 83px;
    left: 97px;
    top: 190px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 82px;
    color:rgba(255, 255, 255, 1);
}

.footer {
    position:relative;
    right: -80px;
    bottom: 0;
    width: 100%;
    color: rgb(207, 35, 35);
    text-align: center;
}

h4{
    color: white;
    margin-top: 10px;
    margin-left: 750px;
}

h5 {
    position: absolute;
    width: 150px;
    height: 26px;
    left: 1725.69px;
    top: 430.33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 7px;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    transform: rotate(-90.74deg);
}

.fakemap {
    position: absolute;
    width: 833px;
    height: 427px;
    left: 780px;
    top: 230px;
}

.instagramLogo {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 1820px;
    top: 423px;
}

.telegramLogo {
    position: absolute;
    width: 35px;
    height: 38.3px;
    left: 1820px;
    top: 465px;
}

.facebookLogo {
    position: absolute;
    width: 35px;
    height: 34px;
    left: 1820px;
    top: 503px;
}

.GoogleMapsLogo {
    position: absolute;
    width: 94px;
    height: 91px;
    left: 800px;
    top: 680px;    
}

.AppleMapsLogo {
    position: absolute;
    width: 92px;
    height: 91px;
    left: 910px;
    top: 683px;    
}
